{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    {% block content %}
    <div class="wrap"></div>
        <div class="container">
            <div class="back"><a href="{% url 'books' %}">&lt;Back</a></div>
            <div class="icon">
                <i class="fa-solid fa-right-to-bracket"></i>
            </div>
            <div class="title">
                <h5>Login</h5>
            </div>
            <form class="form" action="" method="post">
                {% csrf_token %}
                <div class="input">
                    <div class="input-icon"><i class="fa-solid fa-envelope"></i></div>
                    {{ form.email }}
                </div>
                <div class="border"></div>
                <div class="input">
                    <div class="input-icon"><i class="fa-solid fa-key"></i></div>
                    {{ form.password }}
                </div>
                <div class="border"></div>
                <div class="login">
                    <button class="submit" type="submit">Login</button>
                </div>
                <div class="signup">
                    <a href="{% url 'register' %}">Register</a>
                </div>
            </form>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    <script>
        let form_placeholders = document.getElementsByTagName('input')
        form_placeholders[1].placeholder='email'
        form_placeholders[2].placeholder='password'

        for (let field in form_placeholders){
            form_placeholders[field].className += ' form-control'
        }

    </script>

</body>
</html>